@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Стили для горизонтального расположения карточек с показателями */
.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin: 25px 0;
}

.statbox {
  background: #101827;
  border: 1px solid #202b40;
  border-radius: 14px;
  padding: 18px;
}

.statbox b {
  display: block;
  font-size: 28px;
}

.statbox span {
  color: #71809b;
  font-size: 12px;
}
